

<div class="jumbotron jumbotron-slideshow mx-0 my-0 d-flex justify-content-center align-items-center">
    <div ng-include="'views/includes/account/background.html'"></div>

    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-4" style="background: rgba(255,255,255,0.9); border-radius: 4px;">
                <div class="p-4">
                    <div class="display-3 myBrand"><span>M.</span>fd</div>
                    <h4 class="my-2 pb-2">Đăng nhập</h4> 
                    <div class="login">   
                        <form name="loginform" ng-submit="login()">
                            <!-- <div class="header header-primary text-center">
                                <div class="logo-container">
                                    <img src="../assets/img/now-logo.png" alt="">
                                </div>
                            </div> -->
                            <div class="content">
                                <div class="form-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" name="email" ng-model="email" class="form-control" placeholder="Email..."  required/>
                                </div>
                                <div class="alert alert-danger" ng-show="loginform.email.$dirty && loginform.email.$invalid">
                                    <span ng-show="loginform.email.$error.required">Bạn phải nhập email.</span>
                                    <span ng-show="loginform.email.$error.email">Hãy nhập đúng email.</span>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" name="pass" ng-model="pass" placeholder="Password..." ng-minlength="6" ng-maxlength="15" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="loginform.pass.$dirty && loginform.pass.$invalid">
                                    <span ng-show="loginform.pass.$error.required">Bạn phải nhập mật khẩu.</span>
                                    <span ng-if="!loginform.pass.$valid">
                                        <span ng-show="loginform.pass.$error.minlength">Mật khẩu quá ngắn.</span>
                                        <span ng-show="loginform.pass.$error.maxlength">Mật khẩu quá dài.</span>
                                    </span>
                                </div>
                                <span class="badge" ng-bind-html="loginMessage"></span>
                            </div>
                            <div class="footer col-xs-12 text-center">
                                <button type="submit" class="btn btn-success btn-simple btn-round btn-block" ng-disabled="loginform.$invalid">Log In</button>
                            </div>
                            <div class="col-xs-12 mt-3">
                                <h6 class="text-center">
                                    <a href="/register" class="link">Chưa có tài khoản?</a>
                                </h6>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>