<li class="nav-item py-2 px-3" ng-class="{active:isActive('/')}">
    <a class="nav-link" href="/explore">Khám phá</a>
</li>
<li class="nav-item py-2 px-3" ng-class="{active:isActive('/about')}">
    <a class="nav-link" href="/about">Về chúng tôi</a>
</li>
<!-- <li class="nav-item py-2 px-3" ng-class="{active:isActive('/news')}">
    <a class="nav-link" href="/#/news">News</a>
</li>
<li class="nav-item py-2 px-3" ng-class="{active:isActive('/contact')}">
    <a class="nav-link" href="/#/contact">Contact</a>
</li> -->