
<a href="/{{user.username}}" 
    class="list-group-item list-group-item-action" 
    ng-class="{active : isActive('/'+user.username)}">Hồ sơ</a>
<a href="/{{user.username}}/posts" 
    class="list-group-item list-group-item-action" 
    ng-class="{active : isActive('/'+user.username+'/posts')}" >Danh sách bài viết</a>
<a href="/{{user.username}}/likes" 
    class="list-group-item list-group-item-action" 
    ng-class="{active : isActive('/'+user.username+'/likes')}">Danh sách yêu thích</a>
<a href="/{{user.username}}/plans" 
    class="list-group-item list-group-item-action" 
    ng-class="{active : isActive('/'+user.username+'/plans')}">Kế hoạch khám phá ẩm thực</a>
<a href="/{{user.username}}/gallery" 
    class="list-group-item list-group-item-action" 
    ng-class="{active : isActive('/'+user.username+'/gallery')}">Hình ảnh & Video</a>

