
<section class="top-section" ng-style="topMargin">
    <div class="container-fluid pt-5 mb-5">
        <div class="main-swiper" id="tags">
            <!-- Swiper -->
            <div class="swiper-container" swiper>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <span>Bánh mì</span>
                        <span>#banh_mi</span>
                    </div>
                    <div class="swiper-slide">
                        <span>Trà sữa</span>
                        <span>#tra_sua</span>
                    </div>
                    <div class="swiper-slide">
                        <span>Bánh tráng trộn</span>
                        <span>#banh_trang_tron</span>
                    </div>
                    <div class="swiper-slide">
                        <span>Bánh canh cua</span>
                        <span>#banh_canh_cua</span>
                    </div>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>