
<section class="top-section section mb-5 d-flex py-5"  ng-style="topMargin">
    <div class="top-section-bg"></div>
    <div class="container-fluid text-center my-auto top-section-content py-5">
        <div class="text-left mb-4 row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                <h1 class="display-4">Kết nối và chia sẻ kinh nghiệm ẩm thực theo cách riêng của bạn.</h1>
            </div>
        </div>
        <div class="searchForm mb-5 mt-2" id="top_search">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-7">
                    <form action="">
                        <div class="search_bar d-flex justify-content-between">
                            <input class="form-control" ng-model="key" id="search" name="se" placeholder="Tìm kiếm" required="required" type="text" value="">
                            <button type="button" ng-click="searchKey()" id="search-action" title="Search">
                                <ion-icon size="large" name="search-outline"></ion-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="main-swiper" id="tags">
            <!-- Swiper -->
            <div class="swiper-container" swiper>
                <div class="swiper-wrapper">
                    <a ng-href="/post/hashtag/{{hashtag.tag}}" class="swiper-slide flex-column" ng-repeat="hashtag in hashtags" >
                        <span>{{hashtag.tagname}}</span>
                        <span>{{hashtag.tag}}</span>
                    </a>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="collections">
    <div class="container-fluid mb-5">
        <div class="row mb-3">
            <div class="col">
                <h3 class="title">Bộ sưu tập</h3>
                <p>{{session}}</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div class="col mb-4">
                <div class="block_type_1">
                    <div class="block_inner d-flex">
                        <div class="block_bg">
                            <a class="block_link" href="#" tabindex="-1">					
                                <div class="block_bg_img" style="background-image: url('../public/imgs/collection_1.jpg')"></div>                         
                            </a>
                        </div>
                        <div class="block_content">
                            <h4 class="block_title">Các món cuốn</h4>
                        </div>
                    </div>
                    <div class="block_meta mt-2">
                        <div class="meta_user d-flex justify-content-start align-items-center">
                            <span class="meta_user_avar">
                                <a href="#">
                                    <img class="img-fluid" src="../public/imgs/avarDefault.png" alt="">
                                </a>
                            </span>
                            <span class="meta_user_name">
                                <a href="/Meet.Foodie">Meet.Foodie</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="collections">
    <div class="container-fluid mb-5">
        <div class="row mb-3">
            <div class="col">
                <h3 class="title">Tất cả bài viết</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
            <div class="col mb-4" ng-repeat="post in posts  track by $index">
                <div class="block_type_1">
                    <div class="block_inner d-flex">
                        <div class="block_bg">
                            <a class="block_link" href="/post/{{post.ID}}" tabindex="-1">					
                                <div class="block_bg_img" ng-style="post.featured_img != null ? 
                                    {
                                      'background-image':'url(../public/imgs/{{post.featured_img}})'
                                    } : {
                                      'background-image':'url(../public/imgs/postDefault.png)'
                                    }">
                                </div>                         
                            </a>
                        </div>
                        <div class="block_content">
                            <h4 class="block_title">{{post.title}}</h4>
                        </div>
                    </div>
                    <div class="block_meta mt-2 d-flex justify-content-between align-items-center">
                        <div class="meta_user d-flex justify-content-start align-items-center" ng-repeat="user in users" ng-if="user.username == post.username">
                            <span class="meta_user_avar">
                                <a href="/{{user.username}}">
                                    <img class="img-fluid" ng-src="../public/imgs/{{user.avatar}}" alt="">
                                </a>
                            </span>
                            <span class="meta_user_name">
                                <a ng-href="/{{user.username}}">{{user.name}}</a>
                            </span>
                        </div>
                        <div class="meta_like">
                            <span>{{post.like_count}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>