<section class="top-section section mb-5 d-flex py-5"  ng-style="topMargin">
    <div class="container-fluid text-center my-auto top-section-content py-5">
        <div class="main-swiper" id="tags">
            <!-- Swiper -->
            <div class="swiper-container" swiper>
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide flex-column">
                        <span>Bánh mì</span>
                        <span>#banh_mi</span>
                    </a>
                    <a href="#" class="swiper-slide flex-column">
                        <span>Trà sữa</span>
                        <span>#tra_sua</span>
                    </a>
                    <a href="#" class="swiper-slide flex-column">
                        <span>Bánh tráng trộn</span>
                        <span>#banh_trang_tron</span>
                    </a>
                    <a href="#" class="swiper-slide flex-column">
                        <span>Bánh canh cua</span>
                        <span>#banh_canh_cua</span>
                    </a>
                    <a href="#" class="swiper-slide flex-column">
                        <span>Bánh tráng trộn</span>
                        <span>#banh_trang_tron</span>
                    </a>
                    <a href="#" class="swiper-slide flex-column">
                        <span>Bánh canh cua</span>
                        <span>#banh_canh_cua</span>
                    </a>
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>

<section>

    <div ng-controller="PostCtrl">

        {{user}}
    </div>
</section>