<div>
        <h4><span>
                <ion-icon name="mail-outline"></ion-icon>
            </span> Email@gmail.com</h4>
        <h4><span>
                <ion-icon name="transgender-outline"></ion-icon>
            </span> Nam </h4>
        <h4><span>
                <ion-icon name="medkit-outline"></ion-icon>
            </span> Sinh viên </h4>
        <h4><span>
                <ion-icon name="calendar-outline"></ion-icon>
            </span> 20/02/2002
        </h4>
        <button class="btn btn-primary">Sửa thông tin</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Đổi mật khẩu
        </button>
        <button class="btn btn-primary">Xóa tài khoản</button>
        <div class="collapse mt-4" id="collapseExample">
            <form>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword" placeholder="Mật khẩu hiện tại">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu mới">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Nhập lại mật khẩu mới">
                </div>
                <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
              </form>
        </div>
    </div>