/* Global */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
:root {
    --heading-font: Playfair Display, serif;
    --body-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --primary-color: #4fd675;
    --primary-color-semi: rgba(79, 214, 117, 0.3);
    --gradient-start: #4fd675;
    --gradient-end: #4fd6c8;
    --content-color: #232323;
    --light-bg-color: #fff;
    --light-text-color: #5c5c5c;
    --light-sub-text-color: rgba(0, 0, 0, 0.62);
    --light-content-color: #232323;
    --dark-bg-color: #111;
    --dark-text-color: #fff;
    --dark-content-color: #eee;

}

body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: var(--light-bg-color);
    color: var(--content-color);
}

body, input, select, textarea, blockquote cite, a {
    font-family: var(--body-font);
}


::selection {
    color: var(--dark-content-color);
    background: var(--primary-color);
  }

a{
    color: var(--light-text-color);
}
a:hover, a:active, a:focus {
    color: var(--primary-color);
}

/* \end Global */

/* navbar */
.myBrand {
    font-family: var(--heading-font);
    font-size: 1.8rem;
}
.myBrand>span{
    font-size: 2rem;
    color: var(--primary-color);
}
header:not(.sideMenuOpen) .navbar-strip:after {
    pointer-events: none;
}
header.sideMenuOpen .navbar-strip:after {
    opacity: 0.5;
}
.navbar-strip:after {
    background-color: #191919;
    bottom: -1px;
    content: '';
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}
/* \end navbar */

/* sidebar */
header:not(.sideMenuOpen) .sidemenu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.sidemenu {
    background-color: var(--light-bg-color);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100vh;
    padding: 12px 0;
    position: fixed;
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    width: 270px;
    will-change: transform;
    z-index: 1031;
    top: 0;
}

/* \end sidebar */

/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
}
/* .swiper-wrapper {
    transition-duration: 0ms;
    transform: translate3d(87.631px, 0px, 0px);
} */
.swiper-slide {
    text-align: center;
    font-size: 0.9rem;
    background: var(--light-bg-color);
    width: auto;
    padding: 9px 24px;
    border-radius: 4px;
    line-height: 1.2;
    color: var(--light-text-color);

    /*Centerslidetextvertically*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.swiper-slide > span:first-child {
    font-weight: bold;
}
.swiper-slide > span:last-child {
    font-size: 0.7rem;
}
a.swiper-slide:hover {
    color: var(--light-dark-color);
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    opacity: 0.9;
    text-decoration: none;
}
.swiper-button-next, .swiper-button-prev {
    opacity: 0;
    color: var(--dark-text-color);
    background: rgba(0,0,0,0.35);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s, background-color 0.2s ease 0s, color 0.2s ease 0s;
    -webkit-transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s, background-color 0.2s ease 0s, color 0.2s ease 0s;
    -moz-transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s, background-color 0.2s ease 0s, color 0.2s ease 0s;
    -ms-transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s, background-color 0.2s ease 0s, color 0.2s ease 0s;
    -o-transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s, background-color 0.2s ease 0s, color 0.2s ease 0s;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.2rem;
    font-weight: bold;
}
.main-swiper:hover .swiper-button-next,
.main-swiper:hover .swiper-button-prev {
    opacity: 1;
}

.swiper-button-disabled {
    opacity: 0!important;
}
/* \end swiper */

/* blocks */
.block_type_1 > .block_inner {
    width: 100%;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 250px;
}
.block_type_1 .block_bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.block_type_1 .block_bg .block_bg_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.block_content {
    position: relative;
    margin-top: auto;
    pointer-events: none;
    opacity: 0.9;
    transition: opacity 0.4s;
    width: 100%;
    color: var(--dark-text-color);
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}
.block_content .block_title{
    margin-bottom: 0;
    font-size: 1.1rem;
    padding: .8rem .7rem .7rem;
}

.block_meta {
    font-weight: bold;
}

.block_meta .meta_user_avar > a {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 6px;
}
.block_meta .meta_user_avar img {
    vertical-align: top;
}
.block_meta .meta_user_name > a:hover {
    color: var(--light-content-color);
}
/* \blocks */

/* top section */
.top-section {
    background-image: url('../imgs/background_1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 500px;
    min-height: 380px;
    position: relative;
    color: var(--dark-content-color);
}
.top-section-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.top-section-bg:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    position: absolute;
    pointer-events: none;
}
.top-section-content {
    position: relative;
    z-index: 100;
}
.top-section h1.display-4 {
    font-size: 2rem;
    text-shadow: 0 0 5px #000;
}
/* \top section */

/* search bar */
.search_bar {
    background: var(--light-bg-color);
    color: var(--content-color);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.04), 0 4px 16px 0 rgba(44,50,65,.08);
}
.search_bar .form-control {
    display: block;
    font-size: 17px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    flex: 1;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    background: transparent;
    border: none;
    color: #1a1a1a;
    padding: 1.5rem 1.5rem;
    width: 0;
    z-index: 1;
}

.search_bar  .form-control:focus {
    color: #495057;
    background-color: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
}

.search_bar button {
    border: none;
    background: 0 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
    z-index: 1;
}
/* \search bar */

/* user profile */
.head-profile-cover {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.02);
    
    min-height: 176px;
}
.head-profile-has-cover {
    height: 50vh;
    max-height: 640px;
}
.head-profile-avar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 124px;
    height: 100px;
    position: absolute;
    top: -24px;
}
.head-profile-avar-border {
    border-radius: 50%;
    border: 1px dashed var(--primary-color);
    width: 102px;
    height: 102px;
    background: rgba(255,255,255,0.55)
}
.head-profile-avar-img {
    display: block;
    border-radius: 50%;
    flex: 0 0 auto;
    overflow: hidden;
    width: 96px;
    height: 96px;
    border: 2px solid var(--light-bg-color);
    margin: -2px;
    position: relative;
}
.head-profile-avar-img > img {
    object-fit: cover; 
    object-position: center top;
    width: 96px;
    height: 96px;
}
.head-profile-title {
    padding-top: 24px;
    padding-left: 124px;
}
.head-profile-title .head-profile-title-inner > h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin: 0px;
    color: var(--light-text-color);
}
.head-profile-meta {
    margin-top: 2px;
    padding-left: 124px;
}
.head-profile-meta a:hover {
    text-decoration: none;
    color: inherit;
}
.head-profile-meta span {
    color: var(--light-sub-text-color);
}
.head-profile-meta span.number {
    font-weight: 700;
    color: var(--light-text-color);
}
/* \user profile*/


@media (min-width: 576px) { 
    
    .top-section h1.display-4 {
        font-size: 2rem;
    }
 }

@media (min-width: 768px) { 

    .top-section h1.display-4 {
        font-size: 3rem;
    }

 }

@media (min-width: 992px) {
    /* blocks */
    .block_content {
        opacity: 0;
    }
    .block_type_1:hover .block_content {
        opacity: 0.9;
    }


    /* \end blocks */

    .top-section h1.display-4 {
        font-size: 3.5rem;
    }
}