
<section class="section" ng-style="topMargin" ng-include="'views/includes/user/userTopProfile.html'">
    
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group" ng-include="'views/includes/user/userSidebar.html'">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card mb-3" style="max-width: 540px;" ng-repeat="item in followers track by $index" id="">
                    <a href="/{{item.username}}">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                              <img src="../public/imgs/{{item.avatar}}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <button class="btn btn-block">Follow</button>
                              </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
