
<section class="section" ng-style="topMargin" ng-include="'views/includes/user/userTopProfile.html'">
    
</section>
<section class="section section-user">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" ng-include="'views/includes/user/userSidebar.html'">
            </div>
            <div class="col-sm-9">
                <div ng-repeat="post in posts track by -$index"  ng-init="orderFilterLimit = 1">
                    <div class="block_type_2 single_post">
                        <div class="post_inner px-5">
                            <div class="post_action d-flex justify-content-end">
                                <a href="#" title="Sửa bài viết" class="ml-2" ng-show="post.user.username === userName">
                                    <ion-icon name="create-outline" size="large"></ion-icon>
                                </a>
                                <!-- <a href="#" title="Lưu bài viết" class="ml-2">
                                    <ion-icon name="bookmark-outline" size="large"></ion-icon>
                                    <ion-icon name="bookmark" size="large"></ion-icon>
                                </a> -->
                                <a href="#" title="Bỏ thích bài viết" class="ml-2 text-danger" ng-show="Userpostlike" ng-click="postUnlike(post.ID)">
                                    <ion-icon name="heart" size="large"></ion-icon>
                                </a>
                                <a href="#" title="Thích bài viết" class="ml-2" ng-show="!Userpostlike" ng-click="postAddlike(post.ID)">
                                    <ion-icon name="heart-outline" size="large"></ion-icon>
                                </a>
                            </div>
                            <div class="post_content">
                                <span class="post-stars">
                                    <ion-icon name="star" ng-repeat="i in points track by $index"></ion-icon>
                                </span>
                                <h2><a href="/post/{{post.ID}}">{{post.title}}</a></h2>
                                <p class="meta">{{post.post_time}} ngày {{post.post_date}}</p>
                                <p class="post_content_inner">{{post.content}}</p>
                            </div>
                            <div class="post_meta">
                                <div class="post_hashtags mb-3">
                                    <a class="mr-3 tag" href="/post/hashtag/{{tag.tag}}" ng-repeat="tag in post.tags">#{{tag.tag}}</a>
                                </div>
                                
                                <div class="post_place py-3 d-flex justify-content-between" ng-if="post.place.id !== null">
                                    <div class="d-flex justify-content-start">
                                        <div class="post_place_img mr-3">
                                            <img ng-src="../public/imgs/{{post.place.img}}" alt="{{post.place.name}}">
                                        </div>
                                        <div class="post_place_des">
                                            <h5>{{post.place.name}}</h5>
                                            <p class="m-0">
                                                <ion-icon name="navigate-outline" class="mr-1"></ion-icon>
                                                <span class="mt-2">{{post.place.address}}</span>
                                            </p>
                                            <p class="m-0" ng-show="post.place.opentime != '' || post.place.closetime != ''">
                                                <ion-icon name="time-outline" class="mr-1"></ion-icon>
                                                <span class="mr-3">{{post.place.opentime}} - {{post.place.closetime}}</span>
                                            </p>
                                            <p class="m-0">
                                                <ion-icon name="pricetag-outline" class="mr-1" ng-if="post.place.price"></ion-icon>
                                                <span>{{post.place.price}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post_place_review text-center d-flex flex-column justify-content-center align-items-stretch">
                                        <div class="review_points">{{fixPoint(post.place.point)}}</div>
                                        <p class="meta mb-2">({{post.place.review_count}} đánh giá)</p>
                                        <div>
                                            <a href="" class="btn btn-outline-success btn-sm" ng-click="addPost()"><b>Viết review</b></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_other_meta d-flex justify-content-between align-items-center pt-3">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="mr-4 d-flex justify-content-start align-items-center">
                                            <ion-icon name="heart"></ion-icon>
                                            <span class="ml-1">{{post.like_count}}</span>
                                        </div>
                                        <div class="mr-4 d-flex justify-content-start align-items-center">
                                            <ion-icon name="eye"></ion-icon>
                                            <span class="ml-1">{{post.views}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="" ng-click="gotoCmt()">{{countcmts}} Bình luận</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block_type_2 mb-5 block_user" id="comment_list">
                        <div class="comment-inner px-5">
                            <div class="d-flex justify-content-start single-cmt pt-3" ng-repeat="cmt in (post.comments)" ng-if="$last">
                                <div class="cmt-img mr-4">
                                    <a href="/{{cmt.username}}" title="{{cmt.name}}">
                                        <img src="../public/imgs/{{cmt.avatar}}" alt="">
                                    </a>
                                </div>
                                <div>
                                    <p class="m-0">
                                        <a class="comment_name" href="/{{cmt.username}}">{{cmt.name}}</a> 
                                        <small class="comment-date">
                                            <span>{{cmt.date}}</span>
                                            <span>lúc</span>
                                            <span>{{cmt.time}}</span>
                                        </small>
                                    </p>
                                    <p>{{cmt.content}}</p>
                                </div>
                            </div>
                            <div class="text-center mt-3" ng-show="!isLoggedIn">
                                <p>Hãy <a class="color" href="/login" title="Đăng nhập" ng-click="getoldlink()">Đăng nhập</a> để bình luận.</p>
                            </div>
                            <div class="d-flex justify-content-start align-items-center form-comt mt-3" ng-show="isLoggedIn">
                                <div class="cmt-img mr-4">
                                    <a href="/{{userName}}" title="{{viewName}}" ng-click="scroll()">
                                        <img src="../public/imgs/{{avatar}}" alt="">
                                    </a>
                                </div>
                                <div class="w-100">
                                    <form name="cmtForm" ng-submit="submit_comment($index)">
                                        <input ng-model="post.message" class="form-control w-100" name="message_cmt" placeholder="Hãy viết bình luận của bạn...">
                                        <input type="submit" 
                                        style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                                        tabindex="-1" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
