
<section class="section" ng-style="topMargin" ng-include="'views/includes/user/userTopProfile.html'">
    
</section>
<section class="section section-user">
    <div class="container">
        <div class="row">
          <div class="col-sm-3" ng-include="'views/includes/user/userSidebar.html'"></div>
            <div class="col-sm-9">
              <div class="block_type_2">
                <div class="container">
                  <div class="row row-cols-3">
                    <div class="col" ng-repeat="item in imgsuser track by $index">
                      <a href="/post/{{item.IDpost}}">
                        <img src="../public/imgs/{{item.src}}" alt="{{item.src}}" title="{{item.src}}" class="img-fluid img-thumbnail">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
