
<section class="section" ng-style="topMargin" ng-include="'views/includes/user/userTopProfile.html'">
    
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group" ng-include="'views/includes/user/userSidebar.html'">
                </div>
            </div>
            <div class="col-sm-9">
                <nav av id="Profile">
                    <div class="nav nav-tabs nav-fill mb-2" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Hình ảnh</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Video</a>
                    </div>
                  </nav>
                
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active pt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="row row-cols-3">
                        <img src="../image/amthuc1.jpg" alt="">
                        <img src="../image/amthuc2.jpg" alt="">
                        <img src="../image/amthuc3.jpg" alt="">
                        <img src="../image/amthuc1.jpg" alt="">
                        <img src="../image/amthuc2.jpg" alt="">
                        <img src="../image/amthuc3.jpg" alt="">
                        <img src="../image/amthuc1.jpg" alt="">
                        <img src="../image/amthuc2.jpg" alt="">
                        <img src="../image/amthuc3.jpg" alt="">
                      </div>
                    </div>
                
                    <div class="tab-pane fade  pt-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <h2>Đây là video</h2>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
