<div class="block_add_post d-flex justify-content-center align-items-center" ng-click="close_block_add()">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-8" ng-click="$event.stopPropagation()">
                <div class="" tabindex="-1">
                    <div class=" modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Viết review</h5>
                                <button type="button" class="close" ng-click="close_block_add()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" ng-model="postForm.title" class="form-control" placeholder="Tiêu đề bài viết">
                                    </div>
                                    <textarea name="content" id="content" class="form-control" rows="3" placeholder="Nội dung bài viết" ng-model="postForm.content"></textarea>
                                    <tags-input ng-model="tags" add-on-enter="true"
                                                min-length="0"
                                                display-property="text"
                                                key-property="id"
                                                on-tag-added="onTagAdded($tag)"
                                                placeholder="Thêm tag">
                                        <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                    <a href="" ng-click="selectPlace" class="btn btn-success-outline btn-block">Chọn địa điểm</a>
                                    <input type="hidden" ng-model="postForm.place">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" ng-click="close_block_add()">Close</button>
                                    <button type="button" type="submit" class="btn btn-success" ng-click="createPost()" ng-disabled="!postForm.title">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>